<header>
  <nav>
    <ul>
      <li><a href="/profile">Perfil</a></li>
      <li><a href="/products">Ir a PRODUCTS</a></li>
    </ul>
  </nav>
</header>
<div class="homeContainer">
    <h1>Cart</h1>
    <h2>Lista de productos del Cart:</h2>
    {{#if error}}
        <p>{{ error }}</p>
    {{else}}
        <table>
            <tr>
              <th>Titulo</th>
              <th>Descripcion</th>
              <th>Precio</th>
              <th>status</th>
              <th>category</th>
              <th>Cantidad de pedidos</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            {{#each cart.products}}
                <tr>
                  <td>{{this.product.title}}</td>
                  <td>{{this.product.description}}</td>
                  <td>{{this.product.price}}</td>
                  <td>{{this.product.status}}</td>
                  <td>{{this.product.category}}</td>
                  <td>{{this.quantity}}</td>
                  <td>
                      <button onclick="substractFunction('{{this.product._id}}','{{this.quantity}}')">-</button>
                  </td>
                  <td>
                      <button onclick="sumFunction('{{this.product._id}}','{{this.quantity}}')">+</button>
                  </td>
                  <td>
                      <button onclick="deleteFromCart('{{this.product._id}}')">Delete</button>
                  </td>
                </tr>
            {{/each}}
        </table>
        {{#if cart.products}}
          <button id="purchaseBtn" data-cart-id="{{cart._id}}">Comprar</button>
        {{/if}}
    {{/if}}
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/carts.js"></script>