<header>
  <nav>
    <divclass="linksContainer">
      <a href="/profile">Perfil</a>
      <a href="/products">Ir a PRODUCTS</a>
      {{#if user.premium}}
        <a href="/productsPremium">Ir a PRODUCTS PREMIUM</a>
      {{/if}}
    </div>
  </nav>
</header>
<div class="homeContainer">
    <h1>Cart</h1>
    <h2>Lista de productos del Cart:</h2>
    {{#if error}}
        <p>{{ error }}</p>
    {{else}}
        <input type="hidden" id="cart-id" value="{{cart._id}}" />
        <table id="cartTable">
            <tr>
              <th>Titulo</th>
              <th>Descripcion</th>
              <th>Precio</th>
              <th>status</th>
              <th>category</th>
              <th>Cantidad de pedidos</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            {{#each cart.products}}
                <tr rowId="{{this.product._id}}">
                  <td>{{this.product.title}}</td>
                  <td>{{this.product.description}}</td>
                  <td>{{this.product.price}}</td>
                  <td>{{this.product.status}}</td>
                  <td>{{this.product.category}}</td>
                  <td>{{this.quantity}}</td>
                  <td>
                      <button onclick="substractFunction('{{this.product._id}}','{{this.quantity}}')">-</button>
                  </td>
                  <td>
                      <button onclick="sumFunction('{{this.product._id}}','{{this.quantity}}')">+</button>
                  </td>
                  <td>
                      <button onclick="deleteFromCart('{{this.product._id}}')">Delete</button>
                  </td>
                </tr>
            {{/each}}
        </table>
        {{#if cart.products}}
          <div class="purchaseBtnContainer">
            <button id="clearCart" data-cart-id="{{cart._id}}">Limpiar</button>
            <button id="purchaseBtn" data-cart-id="{{cart._id}}">Comprar</button>
          </div>
        {{/if}}
    {{/if}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/cartsSocket.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/carts.js"></script>