<header>
  <nav>
    <div class="linksContainer">
      <a class="linkNavbar" href="/profile">Perfil</a>
      <a class="linkNavbar" href="/cart/{{cartId}}">Ir al CART</a>
      {{#if user.premium}}
        <a class="linkNavbar" href="/productsPremium">Ir a PRODUCTS PREMIUM</a>
      {{/if}}
    </div>
  </nav>
</header>
<h1>Bienvenido!</h1>
<div class="homeContainer">
    <h1>LISTA DE PRODUCTOS</h1>
    {{#if error}}
        <p>{{ error }}</p>
    {{else}}
        <table>
            <input type="hidden" id="cart-id" value="{{cartId}}" />
            <tr>
              <th>Titulo</th>
              <th>Descripcion</th>
              <th>Precio</th>
              <th>Status</th>
              <th>Categoría</th>
              <th></th>
            </tr>
            {{#each products.docs}}
                <tr>
                  <td>{{this.title}}</td>
                  <td>{{this.description}}</td>
                  <td>{{this.price}}</td>
                  {{#if this.status}}
                    <td>Disponible</td>
                  {{else}}
                    <td>No disponible</td>
                  {{/if}}
                  <td>{{this.category}}</td>
                  <td>
                      <button onclick="addToCart('{{this._id}}')">Add To Cart</button>
                  </td>
                </tr>
            {{/each}}
        </table>
    {{/if}}
    <div class="paginateContainer">
      <h4>Pagina: {{products.page}} de {{products.totalPages}}</h4>
      <div class="prevNextPageContainer">
        {{#if products.hasPrevPage }}
          <a href="/products?page={{products.prevPage}}">Página previa</a>
        {{/if}}
        {{#if products.hasNextPage }}
          <a href="/products?page={{products.nextPage}}">Página siguiente</a>
        {{/if}}
      </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/products.js"></script>