{{#unless user.admin}}
  <nav>
    <ul>
      <li>
        <a href="/products">Ir a PRODUCTS</a>
        <a href="/cart/64ea4f4893207f61409583a8">Ir al CART</a>
      </li>
    </ul>
  </nav>
{{else}}
<nav>
    <ul>
      <li>
        <a href="/productsManagement">Ir a GESTION DE PRODUCTOS</a>
      </li>
    </ul>
  </nav>
{{/unless}}
Perfil de usuario

<br><br>

Nombre: {{user.name}}<br><br>
Apellido: {{user.lastname}}<br><br>
Edad: {{user.age}}<br><br>
Email: {{user.email}}<br><br>
{{#if user.admin}}
  Rol: admin<br><br>
{{else}}
  Rol: user<br><br>
{{/if}}

<button onclick="logout()">Cerrar Sesion</button>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/logout.js"></script>