<header>
  <nav>
    <ul>
      <li><a href="/profile">Perfil</a></li>
    </ul>
  </nav>
</header>
<h1>Real Time Products</h1>
<table id="productos">
  <tr class="headers">
    <th>ID</th>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Precio</th>
    <th>Stock</th>
    <th>Categoría</th>
    <th>Status</th>
    <th>Code</th>
  </tr>
  {{#each products.docs}}
    <tr rowId="{{this._id}}">
      <td>{{this._id}}</td>
      <td>{{this.title}}</td>
      <td>{{this.description}}</td>
      <td>{{this.price}}</td>
      <td>{{this.stock}}</td>
      <td>{{this.category}}</td>
      <td>{{this.status}}</td>
      <td>{{this.code}}</td>
    </tr>
  {{/each}}
</table>
<div class="paginateContainer">
  <h4>Pagina: {{products.page}} de {{products.totalPages}}</h4>
  <div class="prevNextPageContainer">
    {{#if products.hasPrevPage }}
      <a href="/realtimeproducts?page={{products.prevPage}}">Página previa</a>
    {{/if}}
    {{#if products.hasNextPage }}
      <a href="/realtimeproducts?page={{products.nextPage}}">Página siguiente</a>
    {{/if}}
  </div>
</div>
<div class="formsContainer">
  <form id="productForm">
      <h3>AGREGAR PRODUCTO</h3>
      <label for="title" >Title:</label><input type="text" name="title"><br>
      <label for="description" >Description:</label><input type="text" name="description"><br>
      <label for="thumbnail" >Thumbnail:</label><input type="text" name="thumbnail"><br>
      <label for="price" >Price:</label><input type="number" name="price"><br>
      <label for="code" >Code:</label><input type="text" name="code"><br>
      <label for="stock" >Stock:</label><input type="number" name="stock"><br>
  
      <label for="status" >Status:</label>
      <select name="status" id="status">
        <option value="false">False</option>
        <option value="true">True</option>
      </select><br>
  
      <label for="category" >Category:</label><input type="text" name="category"><br>
  
      <input class="btn" type="submit" value="Enviar">
  </form>
  <form id="productFormDelete">
      <h3>ELIMINAR PRODUCTO</h3>
      <label for="id" >INGRESAR ID DE PRODUCTO A ELIMINAR:</label><input type="text" name="id">
      <input class="btn" type="submit" value="Enviar">
  </form>
  <form id="productFormEdit">
      <h3>EDITAR PRODUCTO</h3>
      <label for="idEdit" >INGRESAR ID DE PRODUCTO A EDITAR:</label><input type="text" name="idEdit">
      <label for="titleEdit" >Title:</label><input type="text" name="titleEdit"><br>
      <label for="descriptionEdit" >Description:</label><input type="text" name="descriptionEdit"><br>
      <label for="thumbnailEdit" >Thumbnail:</label><input type="text" name="thumbnailEdit"><br>
      <label for="priceEdit" >Price:</label><input type="number" name="priceEdit"><br>
      <label for="codeEdit" >Code:</label><input type="text" name="codeEdit"><br>
      <label for="stockEdit" >Stock:</label><input type="number" name="stockEdit"><br>
  
      <label for="statusEdit" >Status:</label>
      <select name="statusEdit" id="statusEdit">
        <option value="false">False</option>
        <option value="true">True</option>
      </select><br>
  
      <label for="categoryEdit" >Category:</label><input type="text" name="categoryEdit"><br>
      <input class="btn" type="submit" value="Enviar">
  </form>
</div>

{{!-- <script src="/socket.io/socket.io.js"></script> --}}
<script src="/js/productsSocket.js"></script>
<script src="/js/realTimeProducts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>