<header>
  <nav>
    <ul>
      <li><a href="/profile">Perfil</a></li>
    </ul>
  </nav>
</header>
<h1>USER MANAGEMENT</h1>
<table id="users">
  <tr class="headers">
    <th>ID</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Email</th>
    <th>Rol</th>
    <th>Accion</th>
  </tr>
  {{#each users.docs}}
    <tr rowId="{{this._id}}">
      <td>{{this._id}}</td>
      <td >{{this.name}}</td>
      <td >{{this.lastname}}</td>
      <td >{{this.email}}</td>
      {{#if this.admin}}
          <td>Admin</td>
          <td></td>
      {{else}} 
        {{#if this.premium}}
            <td>Premium</td>
            <td>
              <button onclick="deleteUser('{{this._id}}')">Eliminar</button>
              <button onclick="editUser('{{this._id}}','{{this.premium}}')">Cambiar Rol</button>
            </td>
        {{else}}
            <td>Basico</td>
            <td>
              <button onclick="deleteUser('{{this._id}}')">Eliminar</button>
              <button onclick="editUser('{{this._id}}', 'basic')">Cambiar Rol</button>
            </td>
        {{/if}}
      {{/if}}
    </tr>
  {{/each}}
</table>
<div class="paginateContainer">
  <h4>Pagina: {{users.page}} de {{users.totalPages}}</h4>
  <div class="prevNextPageContainer">
    {{#if users.hasPrevPage }}
      <a href="/userManagement?page={{users.prevPage}}">Página previa</a>
    {{/if}}
    {{#if users.hasNextPage }}
      <a href="/userManagement?page={{users.nextPage}}">Página siguiente</a>
    {{/if}}
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/userSocket.js"></script>
<script src="/js/userManagement.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>